@import url("../../variables.css");

.section__header {
    margin-bottom: 20px;
}
.section__header h2{
    color: var(--accent-color);
}
.joinContainer {
  background-color: var(--light-gray-1);
  padding: 10px;
  margin-bottom: 20px;
  color: var(--text-dark);
}
.joinContainer h3{
  color: var(--text-dark);
}
.discardButton{
  background-color: none;
  border-color: black; 
  margin-right: 0;
  margin-left:auto;
  display:block;


}

.joindata{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 50px;
}