@import url("../../variables.css");

.section__header {
    margin-bottom: 20px;
}
.section__header h2{
    color: var(--accent-color);
}
.joinContainer {
  position: relative;
  background-color: var(--background-color);
  border: solid var(--text-dark);
  padding: 10px 10px 40px 10px;
  margin-bottom: 20px;
  color: var(--text-dark);
}

.joinContainer h3{
  color: var(--text-dark);
}
.discardButton{
  background-color: none;
  border-color: var(--text-dark); 
  margin-right: 0;
  margin-left:auto;
  display:block;
  cursor: pointer;
  font-size: 15px;
}

.joindata{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 50px;
font-weight: bold;
}

.iconBetweenDropdowns {
  margin: 0 80px;
  color: var(--accent-color);
  font-size: 20px;
}
