@import url("../../variables.css");

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 5rem;
    margin: 2rem auto;
}

.section__items{
    border-radius: 0.5rem;
    background-color: var(--background-color);
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s;
}

.section__items:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.3);
}

.card__img{
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-bottom: var(--border-thin);
}

.card__content{
    padding: 1.5rem;
}

.card__header{
    font-size: 1.5rem ;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
}

.card__text{
    letter-spacing: 0.1rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.card__btn{
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 1.45rem;
    text-align: center;
    color: var(--text-light);
    background-color: var(--accent-color);
    border: none;
    border-radius: 0.5rem;
    transition: 0.2s;
    cursor: pointer;
}

.card__btn span{
    margin-left: 0.75rem;
    transition: 0.2s;
    font-size: 1.75rem;
}

.card__btn:hover, .card__btn:active {
  background-color: var(--accent-dark-color);
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}