@import url("../../variables.css");

h3 {
  text-align: center;
  color: var(--text-dark);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container > * {
  flex: 0 0 calc(33.33% - 40px);
  max-width: calc(23.33%);
  border: 1px groove var(--text-dark);
  padding: 0.5rem;
  background-color: var(--light-gray-1);
}
