@import url("../../variables.css");

h3{
    display: flex;
    justify-content: center;
    color: black;
}

.container{
    display: flex;
    gap : 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.container > *{
    flex: 0 0 15rem;
    height: 300px;
    /* border: 1px solid var(--text-dark); */
    background-color: #D0D0CE;
    padding: 0.5rem;
    border: groove black;
    border-width: 0.5px 0.5px 0.5px 0.5px;
}