@import url("../../../variables.css");

.form{
    background-color: #FFFFFF;
    width: 100%;
    padding: 1rem 10%;
    border-radius: 5px;
}

.form__section{
    width: 100%;
    display: none;
}

.form__section--active{
    display: block;
}
.form__navigation {
    display: flex;
    justify-content: space-between;
}
    
.form__button__next {
    margin-left: auto;
}

.form__button {
    border-radius: 0px;
    background-color: hsl(81,67%,54%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 8px 16px;
    width: 125px;
    transition: all 0.1s;
    cursor: pointer;
    margin: 5px;
}
  
.form__button:disabled,.form__button:disabled span {
    background-color: hsl(81,67%,54%);
    color: #FFFFFF;
    opacity: 0.7;
    cursor: not-allowed;
}
  
.form__button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.1s;
}
  
.form__button .form__navigation--back:before {
    content: '\00ab';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: all 0.1s;
}
  
  .form__button:hover:enabled .form__navigation--back {
    padding-left: 25px;
  }
  
  .form__button:hover:enabled .form__navigation--back:before {
    opacity: 1;
    left: 0;
  }
  
.form__button .form__navigation--forward:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: all 0.1s;
}

.form__button:hover:enabled .form__navigation--forward {
    padding-right: 25px;
}
  
.form__button:hover:enabled .form__navigation--forward:after {
    opacity: 1;
    right: 0;
}