.section{
    display: flex;
 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: var(--background-color);
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;

  }

 

.imageContainer {
    flex: 1;
    padding-right: 10px;    

  }

 

.image {

    max-width: 100%;
    height: 500px;
    padding-left: 50px;

}


.formContainer {
    flex: 1;
}



.form-box-login{
    position: relative;
    width: 400px;
    height: 450px;
    background: var(--light-gray-1);
    /* border: 2px solid #86bc25; */
    /* border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.form-box-register{
    position: relative;
    width: 400px;
    height: 540px;
    background: var(--light-gray-1);
    /* border: 2px solid #86bc25;
    border-radius: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 70px;
    margin-bottom: 70px;
}

.section h2{
    font-size: 2em;
    color: black;
    text-align: center;
}

.inputbox{
    
    position: relative;
    margin: 30px 0;
    width: 310px;
  

}

.inputbox label{
    /* position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s; */

    font: 50 12px/15px Open Sans,sans-serif; 
  
    /* padding: 0px 20px 11px 10px; */
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 10px;
    left: 10px;
   
    width: calc(100% - 24px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    display: flex;

    
}

/* input:focus ~ label,
input:not(:placeholder-shown) ~ label{
    top: -5px;
} */


input:focus{
    box-shadow: inset 0 0 0 1px black;
    outline: none;

}


.inputbox input{
    /* width: 100%;
    height: 50px; */
    /* background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff; */
    /* font: 400 14px/20px Open Sans,sans-serif; */
    font: 50 14px/15px Open Sans,sans-serif; 
    padding: 25px 16px 11px 10px;
    width: 100%;  
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* .font-awesome{
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    top: 20px;
} */

.section button{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;  
justify-content: center;  
align-items: center;  
 
    height: 40px;
    /* border-radius: 40px; */
    background: var(--accent-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.linkButton{
    font-size: 0.9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}

.linkButton p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.linkButton p a:hover{
    text-decoration: underline;
}