    @import url("../../variables.css");

  .cardWithTable {
    cursor: pointer;
    border: 2px solid var(--header-color);
    padding: 8px;
    width: 300px;
    margin: 10px;
    transition: box-shadow 0.2s;
  }
  
  .cardWithTable:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .cardWithTable.active {
    background-color: var(--light-gray-1);
  }
  
  .cardData {
    display: flex;
    flex-direction: column;
  }

  .cardData p{
    font-size: large;
    align-self: center;
    font-weight: bold;
  }
  
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardHeader h3{
    font-size: 24px;
  }
  
  .cardIcon {
    color: var(--accent-color);
    font-size: 24px;
    padding: 8px;
  }
  