@import url("../../variables.css");

.uploadBox{
    width: 430px;
    height: 200px;
    border-radius: 0px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);*/
   /* background-color: hsl(81,67%,54%) ;*/
    padding: 0.5rem;
    border-style: dotted;
    border-color: var(--text-muted);
}

.uploadBox__input{
    border: 3px dashed #fff;
    position: relative;
    height: 100%;
    background: rgba(255,255,255,0.5);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--text-dark);
    
}

.uploadBox__input.dragover{
    opacity: 0.2;
}

.uploadBox__input-box{
    position: absolute;
    width: 100%; 
    height: 100%;
    cursor: pointer;
    top:0;
    left: 0;
    opacity: 0;
}
.uploadIcon{
    font-size: 2em;
    padding-bottom: 8px;
    color: var(--text-dark);
    

}

.uploadBox_button_container{
    left : -12.5px;
    top :200px;
    
}

.uploadBox__button{
    display: flex;
    padding: 8px 8px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--deloitte-green);
    color: var(--text-light); 
    border-radius: 0px;
    cursor: pointer;
    width: 125px;
    /* justify-content: space-between; */
    position :absolute;
    left : -12.5px;
    top :200px;
    

    
}

.uploadBox_button span {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.section__header{
   margin: .75rem ;
    font-weight: bold;
    letter-spacing: 0.1ch;
    word-spacing: 0.5ch;
    line-height: 150%;
    font-size: 1.25rem;
    text-align: center;
    max-width: 430px;
}