@import url("../../variables.css");

.container h6{
    margin: 8px 0;
    color: var(--accent-head-color);
}

.container__fields .checkboxContainer {
    display: flex;
}

.container__fields .fieldHeading {
    color: var(--accent-head-color);
    font-weight: bold;
    margin-right: 0.5rem;
  }

.container__search{
    position: relative;
    width: inherit;
    perspective: 1000px;
}

.container__search--logo{
    position: absolute;
    transform: translateY(-50%);
    top:40%;
    right:1%;
    color: var(--accent-head-color);
}

.container__search input{
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 8px;
    font-family: inherit;
    border: none;
    background-color:  var(--highlighted-font-color);;
    box-shadow: 0 0px 5px var(--accent-color);
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.container__search input:focus {
    outline: none; 
  }
  
.container__fields{
    overflow-y:auto;
    height: 220px;
}

.container__fields::-webkit-scrollbar{
    width: 0.5em;
}

.disabled::-webkit-scrollbar{
    display: none;
}

.container__fields::-webkit-scrollbar-track{
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

.container__fields::-webkit-scrollbar-thumb{
    background-color: var(--light-gray-2);
}

.container__fields > * {
    display: flex;
    gap: 0.5rem;
    margin: 0;
  }

.container__fields > *:not(:last-child){
    margin: 0.5rem 0;
}

.container__fields > * input {
    margin: 0;
}

.container__fields > * label{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: -26px;
}

.container__fields input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    background-color: var(--background-color);
    border: 1px solid var(--accent-head-color);
    cursor: pointer;
    margin-bottom: 3px;
    position: relative;
  }
  
.container__fields input[type="checkbox"]:hover {
    background-color: var(--light-gray-1);
}
  

.container__fields input[type="checkbox"]:checked {
    background-color: green;
}
  
.container__fields input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
  
.container__fields input[type="checkbox"]:disabled{
    border: 1px solid var(--light-gray-1)
}
  
.container__fields input[type="checkbox"]:disabled:hover{
    background-color: var(--background-color);
    cursor: auto;
}
  