@import url("../../variables.css");

.tableButton {
  margin-right: 10px;
  border-radius: none;
  background-color: var(--deloitte-green);
  color: white;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  font-size: 15px;
}

.tableButton:disabled {
  background-color: var(--accent-color);
  opacity: 0.6;
  cursor: not-allowed;
  padding: 8px 16px;
  font-size: 15px;
}
