@import url("../../variables.css");

.tableButton {
  margin-right: 10px;
  border-radius: none;
  background-color: var(--deloitte-green);
  color: white;
  /* color: black; */
  cursor: pointer;
}

.tableButton:disabled {
  background-color: var(--accent-color);
  opacity: 0.6;
  cursor: not-allowed;
}
