
*,
*::after,
*::before {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  /*font-family: "Open Sans", sans-serif;*/
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  background-color: white;
}