:root{
    --background-color: #fff;
    --header-color: #efefef;
    --accent-color:#86BC25;
    --accent-dark-color: #43B02A;
    --main-font-color:#000;
    --highlighted-font-color: #fff;
    --border: 6px solid var(--accent-color);
    --border-thin : 3px solid var(--accent-color);
    --text-dark: #000;
    --text-light: #fbf2f2;
    --text-muted: #595959;
    --accessible-green: #26890D;
    --primary-font-size:3rem;
    --secondary-font-size:1.75rem;
    --normal-font-size:1.125rem;
    --deloitte-green: #86BC25;
}

